@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: transparent;
  left: 50%;
  transform: translateX(-50%);
}

@media (prefers-color-scheme: dark) {
  .attribution {
    color: black;
  }
  @media screen and (min-width: 840px) {
    .attribution {
      color: white;
    }
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

li:has(a) {
  position: relative;
}

li:has(a)::after {
  position: absolute;
  content: "";
  bottom: -2.5%;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: center;
  height: 0.15rem;
  background-color: orangered;
  transition: transform 0.3s;
}

li:has(a):hover::after {
  transform: scaleX(1);
}
